<% if (title) { %>
    <h1 class="classification-title"><%= title %></h1>
<% } else { 
    res.redirect('/')
} %>

<%# message() %>

<%- grid %>

<div class="panel-Reviews">
    <div class="revs">    
    <%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

        <% if (locals.loggedin==1) { %>
            <form action="/review/newReview" method="post" id="reviewForm">
                <div class="form-group">
                    <label for="rev_comment">Post a Review:</label>
                    <div>
                        <textarea id="rev_comment" name="rev_comment" rows="4" required placeholder="Add a review for other clients"><%= locals.rev_comment %></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rev_points">Rating:</label>
                    <div>
                        <input type="number" id="rev_points" name="rev_points" required min="1" max="5" step="1" value="<%= locals.rev_points %>">
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" id="account_id" name="account_id" value="<%= locals.accountData.account_id %>">
                    <input type="hidden" id="inv_id" name="inv_id" value="<%= locals.inv_id %>">
                </div>
                <div class="form-group">
                    <button type="submit" id="review-btn" title="Click to add review" >Submit Review</button>
                </div>
            </form>
        <% } %>
    <%- reviewPanel %>
</div>
</div>