<div id="vehicle-main">
    <h2 id="subtitle">
        <%= title %>
    </h2>

    <h6 class="go-back"><a href="/inv">Return to Vehicle Management</a></h6>

    <div class="form-vehicle">
        <%- messages() %>

            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <form action="/inv/update" method="post" id="updateForm">
                        <div class="form-group">
                            <label for="classification_id">Classification:</label>
                            <div>
                                <%- classifications_select %>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inv_make">Make:</label>
                            <div>
                                <input type="text" id="inv_make" name="inv_make" required minlength="3"
                                    value="<%= locals.inv_make %>" placeholder="Min of 3 characters">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inv_model">Model:</label>
                            <div>
                                <input type="text" id="inv_model" name="inv_model" required minlength="3"
                                    value="<%= locals.inv_model %>" placeholder="Min of 3 characters">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inv_description">Description:</label>
                            <div>
                                <textarea id="inv_description" name="inv_description" rows="5"
                                    required><%= locals.inv_description %></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inv_image">Image Path:</label>
                            <div>
                                <input type="text" id="inv_image" name="inv_image" value="<%= locals.inv_image %>"
                                    readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inv_thumbnail">Thumbnail Path:</label>
                            <div>
                                <input type="text" id="inv_thumbnail" name="inv_thumbnail"
                                    value="<%= locals.inv_thumbnail %>" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inv_price">Price:</label>
                            <div>
                                <input type="number" step="0.01" id="inv_price" name="inv_price" required
                                    value="<%= locals.inv_price %>" placeholder="Decimal or Integer">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inv_year">Year:</label>
                            <div>
                                <input type="text" id="inv_year" name="inv_year" required value="<%= locals.inv_year %>"
                                    minlength="4" maxlength="4" placeholder="4-digit year">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inv_miles">Miles:</label>
                            <div>
                                <input type="number" id="inv_miles" name="inv_miles" required
                                    value="<%= locals.inv_miles %>" placeholder="Digits only">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inv_color">Color:</label>
                            <div>
                                <input type="text" id="inv_color" name="inv_color" required
                                    value="<%= locals.inv_color %>">
                            </div>
                        </div>
                        <button type="submit" id="vehicle-btn" title="Click to update" disabled="true">Update Vehicle</button>

                        <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
                            <% } %>>
                    </form>
    </div>
</div>

<script src="/js/inv-update.js"></script>